In [4]:
n=[32,454,5676,89,65,44,3,2,46,6,89,9,56]
larg=n[0]
s_larg=n[0]
for i in n:
    if i>larg:
        larg=i
for j in n:
    if j>s_larg and j!=larg:
        s_larg=j
s_larg

454

In [5]:
n.remove(max(n))

In [6]:
max(n)

454

In [7]:
sorted(n)[-2]

89

In [8]:
st="shyam"
''.join(reversed(st))

'mayhs'

In [12]:
r=''
i=len(st)-1
while i>=0:
    r+=st[i]
    i=i-1
r

'mayhs'

In [14]:
s="shyam mera hero hai" 
ss=s.split()
' '.join(ss[::-1])

'hai hero mera shyam'

In [15]:
l1="shyam"
l2="babure"
i,j=0,0
r=''
while i<len(l1) or j<len(l2):
    if i<len(l1):
        r+=l1[i]
        i+=1
    if j<len(l2):
        r+=l2[j]
        j+=1
r

'sbhaybaumre'

In [16]:
s="skjj234nj45h5j5"
al=[]
n=[]
for i in s:
    if i.isalpha():
        al.append(i)
    else:
        n.append(i)
''.join(sorted(al)+sorted(n))

'hjjjjkns2344555'

In [17]:
s="a7d4s5c9"
for i in s:
    if i.isalpha():
        temp=i
        print(i,end='')
    else:
        print(chr(ord(temp)+int(i)),end='')

ahdhsxcl

In [20]:
d=[]
for i in s:
    if i.isalpha():
        temp=i
    else:
        print(temp*int(i),end='')

aaaaaaaddddsssssccccccccc

In [22]:
s="fffsssggggggttttyyyy"
d={}
for i in s:
    d[i]=d.get(i,0)+1
for k,v in d.items():
    print(k+str(v),end='')

f3s3g6t4y4

In [24]:
s1='abcabab'
d={}
for i in s1:
    if i not in d:
        d[i]=1
        print(i,end='')
    else:
        d[i]=d[i]+1
        print(i*d[i],end='')

abcaabbaaabbb

In [26]:
s="nitin"
temp=s
r=''
i=len(s)-1
while i>=0:
    r+=s[i]
    i-=1
if temp==r:
    print('palidrome')
else:
    print('not palidrome')

palidrome

In [31]:
n=5
a,b=0,1
for i in range(n):
    a,b=b,a+b
    print(a)

1
1
2
3
5

In [ ]:
class myclass:
    pass
obj1=myclass()
-------------

In [2]:
class employee:
    def __init__(self):
        self.name='shyam'
        self.salary=20000
        
ob1=employee()
ob1.__dict__

{'name': 'shyam', 'salary': 20000}

In [4]:
class employee:
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
ob2=employee('anil',100000)
ob2.__dict__

{'name': 'anil', 'salary': 100000}

In [5]:
ob2.name='raju'
ob2.__dict__

{'name': 'raju', 'salary': 100000}

In [12]:
# instance 
# class 
# static
class employee:
    organization='Ascent'
    def __init__(self):
        self._name='shyam'
        self.__salary=1000000
    def getmethode(self):
        print(f'emplye name , {self._name} with salary{self.__salary}')
        
    def setmethode(self,name):
        self.name=name
        
    @classmethod   
    def classmethodee(cls):
        print(f'my organization is {cls.organization}')
        
    @staticmethod
    def staticmethodee():
        print('static')
    
o=employee()
o.getmethode()
o.setmethode('kunal')
o.__dict__
o.classmethodee()

emplye name , shyam with salary1000000
my organization is Ascent